@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'header'
@import 'slick'
@import 'modal'
@import 'footer'

.main
    min-height: 100vh
    position: relative
    z-index: 11
    color: white
    padding-bottom: 110px
    flex-direction: column
    font-family: "Jura", sans-serif
    &::before
        content: ''
        display: block
        width: 70%
        height: 100%
        position: absolute
        z-index: -1
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%)

    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -111
        object-fit: cover

    &__text
        gap: 10px

    &-content
        margin: auto
        h1
            font-size: 80px
            line-height: 70px
            margin: 64px 0 56px
            mark
                font-size: 38px
                line-height: 40px
                padding: 2px 29px 7px

        .btn
            padding: 10px 38px
            font-size: 18px
            position: relative
            z-index: 1
            &::after
                content: ''
                display: inline-block
                position: absolute
                top: 50%
                margin-top: -16px
                left: 105%
                width: 33px
                height: 33px
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
                background-image: url('../img/arrow-left.svg')

    .pop
        position: absolute
        right: 0
        top: 15%
        padding: 8px 35px 8px 9px
        border-radius: 50px 0 0 50px
        background-color: #fff
        img
            display: block

    @media screen and ( max-width: 991px )
        .rel, .pop
            display: none

    @media screen and ( max-width: 720px )
        min-height: unset
        padding: 0
        &::before
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%)
            width: 100%
        &-content
            text-align: center
            padding: 84px 0
        &__text
            display: none

        h1
            width: fit-content
            margin: 0 auto 40px
            font-size: 58.13px
            line-height: 56px
            mark
                font-size: 27px
                line-height: 32px

        .btn
            width: fit-content
            margin: 0 auto

.locate
    padding-top: 48px
    @media screen and ( min-width: 991px )
        position: relative
        z-index: 111

    &-pop
        padding: 6px 20px
        border-radius: 15px
        gap: 8px
        position: absolute
        background-color: #fff
        top: -60px
        left: 0

    .container
        position: relative
        z-index: 1

    .title
        width: 42%
        &.--second
            width: 50%

    &-row
        margin-bottom: 60px

    p
        font-size: 15.28px
        line-height: 20px
        font-weight: 400
        margin-bottom: 43px

    &-img
        background-color: #D1FFE14D
        width: 55%
        padding: 3px 3px 3px 50px
        border-radius: 15px
        img
            display: block
            border-radius: 15px
            object-fit: cover

    &-images
        width: 42%
        gap: 17px
        img
            display: block
            border-radius: 15px
            object-fit: cover

    &-navbar
        min-width: 84px
        width: 84px
        img
            height: 116px

    &-slider
        width: calc( 100% - 84px - 17px )
        .slick
            &-list,
            &-track
                height: 100%

    &-slide
        display: none
        height: 100%
        width: 100%
        img
            display: block
            height: 100%
        &:first-child
            display: block

    &-nav
        margin: 8px 0

    &-item
        max-width: 193px
        padding: 16px 13px
        background: linear-gradient(78.02deg, rgba(0, 0, 0, 0.1) 4.65%, rgba(0, 0, 0, 0.02) 68.31%)
        text-align: center
        border-radius: 13.93px
        flex-direction: column
        justify-content: center
        span
            display: block
            font-size: 13.93px
            line-height: 13.93px
            font-weight: 300
        b
            padding: 0 12px
            line-height: 33.97px
            font-size: 27.86px
            display: block

        i
            font-size: 18.58px
            font-weight: bold
            font-style: normal
            display: block

    @media screen and ( max-width: 1200px )
        &-item
            i
                font-size: 14px

            b
                font-size: 24px

    @media screen and ( max-width: 991px )
        &-pop
            display: none

        &-items
            justify-content: flex-start
            gap: 20px

        &-row
            flex-direction: column
            margin-bottom: 16px

        .title
            order: 1
            margin-bottom: 38px
        .title,
        .title.--second,
        &-images,
        &-img
            width: 100%
        &-img
            width: fit-content
            margin: 0 auto
            padding: 22px 3px 3px
            order: 2
        &-images
            order: 2
            margin-top: 33px
            max-width: 450px

    @media screen and ( max-width: 720px )
        padding-top: 38px
        h2
            font-size: 23.39px
            min-height: 66px
            padding: 0 20px
            margin-bottom: 17px
            &::before
                width: 66px
                height: 66px
                margin-top: -33px
                left: -8px

        .title
            margin-bottom: 13px

        &-items
            gap: 8px
            justify-content: space-between

        &-item
            i
                font-size: 11.56px

            span
                line-height: 10px
                font-size: 8.67px

            b
                line-height: 120%
                font-size: 17.34px
                padding: 0

        p
            padding: 0 20px
            font-size: 14px
            margin-bottom: 24px

        &-slider 
            width: calc(100% - 64px - 13px)

        &-navbar
            width: 64px
            min-width: 64px



.dom
    max-width: 1180px
    margin: 0 auto
    position: relative
    z-index: 1
    &__headline
        font-size: 24.91px
        margin: 0 0 37px
        color: white

    &-title
        color: white
        max-width: 430px
        padding: 25px 20px
        border-radius: 12.46px
        background-color: rgba(0, 0, 0, .3)
        position: absolute
        top: 50%
        left: 60px
        transform: translateY(-50%)
        z-index: 111
        p
            font-size: 13px

    &-images
        gap: 17px
        img
            display: block
            border-radius: 15px
            object-fit: cover
            width: 100%

    &-slider
        width: 100%
        position: relative
        z-index: 1
        overflow: hidden
        border-radius: 15px
        img
            aspect-ratio: 16/8.16
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            pointer-events: none
            left: 0
            z-index: 11
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 65.41%)

    &-slide
        display: none
        &:first-child
            display: block

    &-navbar
        width: 244px
        min-width: 244px
        img
            aspect-ratio: 16/9.443

    &-nav
        margin-bottom: 17px
        display: none
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
            display: block

    @media screen and ( max-width: 1200px )
        padding: 0 15px

        &-title
            top: 39%

        &-images
            display: block

        &-slider
            width: 100%
            margin-bottom: 10px
            img
                display: block
                width: 100%

        &-navbar
            width: 100%
            min-width: 100%

        &-nav
            margin: 0 5px

    @media screen and ( max-width: 700px )
        &-title
            display: none

.rooms
    border-radius: 50px
    padding-bottom: 54px
    background: linear-gradient(0deg, rgba(210, 210, 210, 0.5) 0%, #FFFFFF 70%)
    margin-bottom: 33px

    h2
        text-align: center
        margin-bottom: 35px

    &-item
        width: 49%
        display: block
        border-radius: 15px
        font-size: 15px
        padding: 30px 46px
        background: linear-gradient(90deg, rgba(72, 176, 86, 0.1) 0%, rgba(206, 206, 206, 0.1) 100%)

    .galery-slider
        margin-top: 50px

    @media screen and ( max-width: 991px )
        &-items
            display: block

        &-item
            width: 100%
            margin-bottom: 10px

    @media screen and ( max-width: 720px )
        border-radius: 25px
        padding-bottom: 31px
        &-item
            font-size: 12px
            padding: 15px

        .galery-slider
            margin-top: 23px

.poper
    padding: 0 15px
    &-col

        background-color: #fff
        padding: 0 30px
        overflow: hidden
        width: calc(78% - 12px)

    &__btn
        width: calc(22% - 12px)
        font-weight: 600
        justify-content: center
        font-size: 25.41px
        background-color: #fff
        text-decoration: underline
        text-decoration-color: $prime
        span
            display: block
            max-width: 160px

    @media screen and ( min-width: 991px )
        &-col,
        &__btn
            box-shadow: 0px 0px 15px 0px #00000026
            border-radius: 15px

    @media screen and ( max-width: 991px )

        &__btn
            margin-top: 8px
            span
                max-width: fit-content
        &-col,
        &__btn
            width: 100%

        .container
            padding-bottom: 13px
            display: block
            box-shadow: 0px 0px 15px 0px #00000026
            border-radius: 15px

    @media screen and ( max-width: 720px )
        &-col
            padding: 0

        &__btn
            font-size: 16.17px

.request
    h2
        text-align: center
        margin-bottom: 42px

    &-items
        justify-content: center
        gap: 40px
        margin-bottom: 54px

    &-item
        min-height: 79px
        max-width: 31%
        font-size: 18px
        padding-left: 32px
        &::before
            width: 79px
            height: 79px
            left: 0
            margin-top: -39px

    &-box
        border: 2px solid #DCDCDC
        border-radius: 15px
        overflow: hidden
        position: relative
        z-index: 1

    .col
        padding: 40px 10px 40px 60px
        max-width: 510px
        background-color: #fff
        position: relative
        z-index: 11
        box-shadow: 20px 0px 64px 55px #fff

    .h2
        margin-bottom: 22px

    p
        font-size: 15px
        margin: 0 0 24px

    &__bg
        object-fit: cover
        display: block
        z-index: -1
        @media screen and ( min-width:  992px)
            position: absolute
            top: 0
            right: 0
            width: 60%
            height: 100%

    @media screen and ( max-width:  992px)
        &-items
            flex-wrap: wrap
        &-item
            width: 47%
            max-width: unset

        .col
            max-width: 100%
            padding: 20px 30px 30px
            box-shadow: 0px 20px 64px 55px #fff

        &-box

        &__bg

    @media screen and ( max-width:  720px)
        h2
            margin-bottom: 21px

        &-items
            gap: 15px 2%
            margin-bottom: 20px

        &-item
            min-height: 54px
            font-size: 14px
            line-height: 125%
            padding-left: 16px
            width: fit-content
            margin-right: auto
            &::before
                height: 54px
                width: 54px
                margin-top: -27px
            &:last-child
                width: fit-content

        &-box
            .h2
                font-size: 20px
                margin-bottom: 10px
            p
                font-size: 12px
                margin-bottom: 15px

.galery
    text-align: center
    h2
        margin-bottom: 32px

    &-slide
        width: 75vw
        max-width: 574px

    &-slider
        max-width: 1920px
        margin: 0 auto

        img
            margin: 0 auto
            display: block
            border-radius: 15px

        .slick
            &-slide
                transition: transform 0.3
            &-track
                display: flex !important
                align-items: center

            &-slide,
            &-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
                transform: scale(0.7, 0.7)

            &-center,
            &-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
                transform: scale(1, 1)

            @media screen and ( max-width: 720px )
                &-slide,
                &-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
                    transform: scale(0.8, 0.8)

                &-center,
                &-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
                    transform: scale(1, 1)
